html {
    scroll-behavior: smooth;
}

html, body {
    background-color: white;
    height: 100%;
}

#main {
    padding: 1rem;
    background-color: rgb(224, 221, 221);
    min-height: 100%;
}

.nav-item a:hover {
    color: blue !important;
}

footer {
    text-align: right;
    padding-right: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.box {
    border-radius: 0.5rem;
    background-color: darkgrey;
    padding: 1rem;
    margin-bottom: 1rem;
}

