html {
    scroll-behavior: smooth;
}

html, body {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

#main {
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    min-height: 100%;
    color: rgb(220, 220, 220)
}

.nav-item a:hover {
    color: blue !important;
}


footer {
    text-align: right;
    padding-right: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.box {
    border-radius: 0.5rem;
    background-color: rgb(48, 48, 48);
    padding: 1rem;
    margin-bottom: 1rem;
}

.table {
    background-color: rgb(48, 48, 48);
    border-radius: 0.5rem;

}
